#front-body {
      text-align: center;
      font-family: Verdana, Tahoma, sans-serif;
      background-color: rgb(210, 170, 240);
}
p , hr{
      font-size: 20px;
      font-family: Consolas, "Courier New", Monospace;
      font-weight: 700;
      color: rgb(225, 20, 100);
}

img {
      width: 600px;
      height: auto;
      padding: 10px;
      border-radius: 10%;
      border-color: rgb(0, 0, 100);
      border-style: solid;
}

ul, a {
      color: rgb(22, 80, 22);
      font-family: Helvetica, Arial, sans-serif;
      font-size: 18px;
      list-style: none;
      text-decoration-line: none;
}
