#front-body {
      text-align: center;
      font-family: Verdana, Tahoma, sans-serif;
      background-color: #193a33;
}

.main-header {
      font-family: Helvetica, Tahoma, Arial, sans-serif;
      color: coral;
}

.front-title {
      color: aquamarine;
}

#front-img {
      padding: 10px;
      border: solid 0.8em antiquewhite;
      border-radius: 15%;
}

.recipe-list a{
      list-style: circle;
      color: aliceblue;
      text-decoration: solid;
      font-family: 'Courier Prime','Courier New', Courier, monospace;
      font-size: large;      
}