.recipe-page {
      background-color: #193a33;
      text-align: center;
}

.recipe-name {
      font-weight : 500;
      font-size: 2.2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: coral;

}

.desc, #Description{     
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      color: rgb(10, 214, 163);
}
#Description {
      font-size: 18px;
      font-family: Cambria, "times new roman", serif;
}

.ing, #ingredients-list{
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      color: aquamarine;
}

#ingredients-list{
      font-size: 18px;
      list-style-type: square;
      font-family: Cambria, "times new roman", sans-serif;
}

.stp, #recipe-steps {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      text-align: left;
      color: azure; 
}

#recipe-steps{
      font-size: 18px;
      font-family: Cambria, "times new roman", sans-serif;
}

#home-button {
      text-decoration: none;
      color: navy;
      background-color: azure;
      padding: 10px auto;
      font-size: larger;
      font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}